.codes-container {
  position: relative;
  width: fit-content;
  min-width: 150px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 1px solid #ccc;
  padding-bottom: 0.4rem;
}

.codes-container:focus-within {
  border-color: #AAA;
}

.codes-container input,
.codes-container input:focus {
  outline: none;
  border: none;
}
